body{
	font-family: "Helvetica Neue", "Lucida Grande", "Arial";
	font-size: 13px;
	text-align: center;
}

#container {
	text-align: left;
	width:300px;
	margin: 0px auto -1px auto
}
#name, #chatinput {
	width: 300px;
}
.pack {
	float:left;
}
#packs { 
	font-family:monospace;
	margin-bottom: 20px;
}
#openpack {
	height: 300px;
}
/*#chat{
	background: #DDDDDD;
	height: 75px;
	position: fixed;
	bottom: 10px;
	z-index: 5;
	padding-left:20px;
}*/
#log {
	font-size: 1em; 
	font-family: monaco, monospace;
	height: 200px;
	overflow: auto;
	border-top:4px solid #DDDDDD;
	border-left:1px solid #DDDDDD;
	border-right:1px solid #DDDDDD;
}
.error { color:red; }
.logmsg{ color:#666666; font-weight:bold;}